@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@500&display=swap');


.logincontainer {
    width: 300px;
    height: max-content;
}

.logo {
    font-family: 'Kodchasan', sans-serif;
}

    .logo:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.afterloginnav > a {
    text-decoration: none;
    color: white;
    font-family: 'Kodchasan', sans-serif;
}
.afterloginnav > a:hover{
    text-decoration:underline;
}

